In [45]:
import numpy as np
import pandas as pd

# Series

## list

In [46]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [47]:
pd.Series(['india','usa','nepal','Srilanka'])

0       india
1         usa
2       nepal
3    Srilanka
dtype: object

In [48]:
mark = [23,34,23,43]
sub = ['math','english','science','gujarati']
pd.Series(mark,index=sub)

math        23
english     34
science     23
gujarati    43
dtype: int64

In [49]:
s1 = pd.Series(mark,index=sub,name='dhruvish')
s1

math        23
english     34
science     23
gujarati    43
Name: dhruvish, dtype: int64

## dict

In [50]:
mark = {
    'math':34,
    'eng':64,
    'science':54
}
mark = pd.Series(mark)

### Series Attributes

In [51]:
mark.size

3

In [52]:
mark.dtype

dtype('int64')

In [53]:
mark.name

In [54]:
mark.is_unique

True

In [55]:
mark.index

Index(['math', 'eng', 'science'], dtype='object')

In [56]:
mark.index

Index(['math', 'eng', 'science'], dtype='object')

In [57]:
mark.values

array([34, 64, 54])

### read_csv

In [58]:
s1 = pd.read_csv('Data Set/subs.csv')

In [59]:
type(pd.read_csv('Data Set/subs.csv'))

pandas.core.frame.DataFrame

In [60]:
s1.squeeze()

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [61]:
type(s1.squeeze())

pandas.core.series.Series

In [62]:
s2 = pd.read_csv('Data Set/bollywood.csv',index_col=['movie'])

In [63]:
type(s2)

pandas.core.frame.DataFrame

In [64]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [65]:
s2.head()

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar

In [66]:
s2.sample()

                        lead
movie
Om Shanti Om  Shah Rukh Khan

In [67]:
s2.sample(5)

                                       lead
movie
Cigarette Ki Tarah            Ashok Banthia
Satta (film)                 Raveena Tandon
Jajantaram Mamantaram         Javed Jaffrey
Tubelight (2017 Hindi film)     Salman Khan
Calcutta Mail                   Anil Kapoor

In [68]:
s2.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Zara Sheikh          1
Zareen Khan          1
Ganesh Acharya       1
Garima Agarwal       1
Aanchal Dwivedi      1
Name: count, Length: 566, dtype: int64

In [69]:
s2.sort_values(by='lead')

                                          lead
movie
Qaidi Band                          Aadar Jain
Roar: Tigers of the Sundarbans    Aadil Chahal
Lipstick Under My Burkha          Aahana Kumra
Raat Gayi Baat Gayi?              Aamir Bashir
Talaash: The Answer Lies Within     Aamir Khan
...                                        ...
Dil Toh Deewana Hai                Zeenat Aman
Sallu Ki Shaadi                    Zeenat Aman
Strings of Passion                 Zeenat Aman
Dunno Y... Na Jaane Kyon           Zeenat Aman
Taj Mahal: An Eternal Love Story   Zulfi Sayed

[1500 rows x 1 columns]

In [70]:
s2.sort_index()

                                        lead
movie
1920 (film)                 Rajniesh Duggall
1920: London                   Sharman Joshi
1920: The Evil Returns           Vicky Ahuja
1971 (2007 film)              Manoj Bajpayee
2 States (2014 film)            Arjun Kapoor
...                                      ...
Zindagi 50-50                    Veena Malik
Zindagi Na Milegi Dobara      Hrithik Roshan
Zindagi Tere Naam         Mithun Chakraborty
Zokkomon                     Darsheel Safary
Zor Lagaa Ke...Haiya!          Meghan Jadhav

[1500 rows x 1 columns]

In [71]:
s2.count() # ignore nan values

lead    1500
dtype: int64

In [72]:
s1.sum()

Subscribers gained    49510
dtype: int64

In [73]:
s1.product()

Subscribers gained    0
dtype: int64

In [74]:
s1.mean()

Subscribers gained    135.643836
dtype: float64

In [75]:
s1.median()

Subscribers gained    123.0
dtype: float64

In [76]:
s1.mode()

   Subscribers gained
0                 105

In [77]:
s2.mode()

           lead
0  Akshay Kumar

In [78]:
s1.std()

Subscribers gained    62.675023
dtype: float64

In [79]:
s1.var()

Subscribers gained    3928.158513
dtype: float64

In [80]:
s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subscribers gained  365 non-null    int64
dtypes: int64(1)
memory usage: 3.0 KB

In [81]:
s1.max()

Subscribers gained    396
dtype: int64

In [82]:
s1.min()

Subscribers gained    33
dtype: int64

In [83]:
s1.describe()

       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

## Series Index

In [84]:
x = pd.Series([23,34,3,32,34,32,53])

In [85]:
x[0]

np.int64(23)

In [86]:
x[-4] ## errror not support negative values

KeyError: -4

In [ ]:
s2

In [ ]:
x[1]

In [ ]:
x[0:4]

In [ ]:
s1[4:43]

In [ ]:
s1[-4:]

In [ ]:
type(s2.squeeze())

In [ ]:
s2 = s2.squeeze()

In [ ]:
s2[1]

In [ ]:
s2[-1]

In [ ]:
## Editing Series

In [ ]:
mark[1] = 100

In [ ]:
mark

In [ ]:
x

In [ ]:
x.iloc[2:4] = [100,100]

In [ ]:
x

In [ ]:
x.iloc[[1,3,2]]

In [ ]:
s2['Evening Shadows']

## Series with python Functionalities

In [ ]:
print(len(s1))
dir(s1) 
sorted(s1)

In [ ]:
sorted(s2)

In [ ]:
list(x)

In [ ]:
dict(x)

In [ ]:
s2

In [ ]:
'Why Cheat India' in s2

In [ ]:
'Amitabh Bachchan' in s2.values

In [ ]:
x

In [ ]:
x - 100

In [ ]:
x != 100

In [ ]:
type(s1)

In [ ]:
num_movie = s2.value_counts()

In [ ]:
num_movie[num_movie > 20]

In [ ]:
s1.plot()

In [ ]:
s2.value_counts().head(10).plot(kind='pie')

In [87]:
s2

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [88]:
s1

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [90]:
type(s1)

pandas.core.frame.DataFrame

In [94]:
s1 = s1.squeeze()

In [95]:
s1

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [96]:
import sys

In [97]:
sys.getsizeof(s1)

3084

In [98]:
s1.astype('int16')

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int16

In [101]:
sys.getsizeof(s1.astype('int16'))

894

In [105]:
s1[s1.between(50,100)].size

102

In [106]:
s1

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [107]:
s1.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [108]:
t = pd.Series([1,1,4,2,4,2,5,6,3534,634,534,5,34,5,345,345,34,5,34,534,4,3,3,5,3])

In [109]:
t

0        1
1        1
2        4
3        2
4        4
5        2
6        5
7        6
8     3534
9      634
10     534
11       5
12      34
13       5
14     345
15     345
16      34
17       5
18      34
19     534
20       4
21       3
22       3
23       5
24       3
dtype: int64

In [110]:
t.drop_duplicates()

0        1
2        4
3        2
6        5
7        6
8     3534
9      634
10     534
12      34
14     345
21       3
dtype: int64

In [112]:
t.drop_duplicates(keep='last')

1        1
5        2
7        6
8     3534
9      634
15     345
18      34
19     534
20       4
23       5
24       3
dtype: int64

In [113]:
s2.drop_duplicates()

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Sssshhh...                            Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                Tanuja
Right Here Right Now (film)                      Ankit
Talaash: The Hunt Begins...              Rakhee Gulzar
The Pink Mirror                        Edwin Fernandes

[566 rows x 1 columns]

In [117]:
t.duplicated().sum()

np.int64(14)

In [118]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])

In [119]:
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [120]:
temp.size

10

In [122]:
temp.count()

np.int64(7)

In [124]:
temp.isnull().sum()

np.int64(3)

In [125]:
s2

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [127]:
s2.isnull().sum()

lead    0
dtype: int64

In [128]:
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [129]:
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [130]:
temp.fillna(10)

0     1.0
1     2.0
2     3.0
3    10.0
4     5.0
5     6.0
6    10.0
7     8.0
8    10.0
9    10.0
dtype: float64

In [134]:
s1[s1 == 49 ]

10    49
12    49
25    49
33    49
Name: Subscribers gained, dtype: int64

In [136]:
s1[s1.isin([40,99])]

2     40
7     40
18    40
20    40
55    99
63    99
Name: Subscribers gained, dtype: int64

In [143]:
s2 = s2.squeeze()

In [144]:
s2.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [145]:
## view ans copy

In [149]:
news = s1.head(5)

In [150]:
news.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [151]:
news[0] = 1000

In [152]:
news

0    1000
1      57
2      40
3      43
4      44
Name: Subscribers gained, dtype: int64

In [153]:
s1

0      1000
1        57
2        40
3        43
4        44
       ...
360     231
361     226
362     155
363     144
364     172
Name: Subscribers gained, Length: 365, dtype: int64

In [154]:
news = s1.head(5).copy()

In [155]:
news

0    1000
1      57
2      40
3      43
4      44
Name: Subscribers gained, dtype: int64

In [156]:
news = s1.iloc[1:5]

In [157]:
news

1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [160]:
news[1] = 200

In [161]:
news

1    200
2     40
3     43
4     44
0    200
Name: Subscribers gained, dtype: int64

In [162]:
s1

0      1000
1        57
2        40
3        43
4        44
       ...
360     231
361     226
362     155
363     144
364     172
Name: Subscribers gained, Length: 365, dtype: int64